{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-hero-section bg-image hero-home-2"
         style="background-image: url({% static 'assets/img/bg_hero_2.svg' %});">
        <div class="hero-caption">
            <div class="container fg-white h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6 wow fadeInUp">
                        <div class="badge badge-soft mb-2">Эффективная подготовка к SAT</div>
                        <h1 class="mb-4 fw-normal">Подготовьтесь к SAT быстро и эффективно</h1>
                        <p class="mb-4">
                            Формат групповой подготовки предполагает эффективный план подготовки к экзамену, а также
                            квалифицированного
                            преподавателя, который даст полезный совет, укажет на ошибки и доступно объяснит
                            непонятные задание.
                        </p>

                        <a href="#moresat" class="btn btn-dark">Подробнее</a>

                    </div>
                    <div class="col-lg-6 d-none d-lg-block wow zoomIn">
                        <div class="img-place mobile-preview shadow floating-animate">
                            <img src="{% static 'assets/img/photo_2022-10-15_21-21-23.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-section no-scroll" id="moresat">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 wow fadeIn">
                    <div class="img-place">
                        <img src="{% static 'assets/img/photo_5355225624681235050_y.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-5 wow fadeInUp">
                    <h2 class="mb-4">Что такое SAT?</h2>
                    <p class="mb-4">SAT – “Scholastic Assessment Test” или “Scholastic Aptitude Test”, что в переводе
                        означает “Академический оценочный тест”. SAT – это экзамен, результаты которого учитываются при
                        поступлении в высшие учебные заведения Америки и являются одним из ключевых моментов в этапе
                        отбора. С уверенностью нельзя говорить о том, что высокие баллы безоговорочно гарантируют вам
                        место в Лиге Плюща, однако закономерность «чем выше баллы, тем ближе вы к успеху» никто не
                        отменял.е.</p>
                    <a href="#what-learn" class="btn btn-outline-primary rounded-pill">Что вы получите от нас</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center text-center wow fadeInUp">
            <div class="col-lg-6">
                <h2 class="mb-3">Что вы получите от курса подготовки к SAT?</h2>
            </div>
        </div>
    </div>
    <div class="page-section" id="what-learn">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="iconic-list">
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Научитесь выполнять все типы заданий и грамотно распределять время;</h5>
                            </div>
                            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                                <span class="mai-analytics"></span>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Выучите правила академической грамматики и необходимую терминологию;</h5>
                            </div>
                            <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
                                <span class="mai-shield-checkmark"></span>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Узнаете специфику текстовых задач и заданий с табличными данными;</h5>
                            </div>
                            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                                <span class="mai-desktop-outline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3 wow zoomIn">
                    <div class="img-place mobile-preview shadow">
                        <img src="{% static 'assets/img/photo_2022-10-15_21-21-58.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="iconic-list">
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                                <span class="mai-speedometer-outline"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Усвоите элементы математики, которые не входят в школьную программу;</h5>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-success fg-white rounded-circle">
                                <span class="mai-aperture"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Выучите необходимую лексику по истории, химии, физике, биологии, экономике,
                                    географии;</h5>
                            </div>

                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                                <span class="mai-stats-chart-outline"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Узнаете эффективную тактику, которая поможет быстро и правильно выполнять
                                    задания.</h5>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Pricing Table -->
    <div class="page-section">
        <div class="container">
            <div class="row justify-content-center text-center wow fadeInUp">
                <div class="col-lg-6">
                    <h2 class="mb-3">Получите потрясающие функции без дополнительной оплаты</h2>
                </div>
            </div>
            <div class="pricing-table mt-5 wow fadeInUp">
                <div class="pricing-item active no-transform">
                    <div class="pricing-header">
                        <h5>Стоимость SAT</h5>
                        <h1 class="fw-normal">9500 сом</h1>
                    </div>
                    <div class="pricing-body">
                        <ul class="theme-list">
                            <li class="list-item">5 часов видео по запросу</li>
                            <li class="list-item">Полный пожизненный доступ</li>
                            <li class="list-item">Доступ на мобильном телефоне и ТВ</li>
                            <li class="list-item">24/7 поддержка</li>
                        </ul>
                    </div>
                    <a href="#sendapplication" class="btn btn-dark" style="color: white">Подать заявку</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="page-section bg-light">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 py-3 wow fadeInUp">
                    <h2 class="mb-4">Часто
                        заданные вопросы</h2>
                    <p>Отвечаем на ваши вопросы</p>

                    <p class="fg-primary fw-medium">Нужна дополнительная помощь?</p>
                    <a href="{% url 'contact' %}" class="btn btn-gradient btn-split-icon rounded-pill">
                        <span class="icon mai-call-outline"></span> Контакт
                    </a>
                </div>
                <div class="col-lg-7 py-3 no-scroll-x">
                    <div class="accordion accordion-gap" id="accordionFAQ">
                        {% for question in questions %}
                            <div class="accordion-item wow fadeInRight">
                                <div class="accordion-trigger" id="headingFour">
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapse{{ question.pk }}" aria-expanded="false"
                                            aria-controls="collapse1">
                                        {{ question.title }}
                                    </button>
                                </div>
                                <div id="collapse{{ question.pk }}" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionFAQ">
                                    <div class="accordion-content">
                                        <p>{{ question.answer }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" id="sendapplication">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 py-3 mb-5 mb-lg-0">
                    <div class="img-place w-lg-75 wow zoomIn">
                        <img src="{% static 'assets/img/illustration_contact.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 py-3">
                    <h4 class="wow fadeInUp" style="color:#3D58F3">Подать заявку</h4>
                    <form method="POST" class="mt-5" action="{% url 'sat' %}">
                        {% csrf_token %}
                        <div class="form-group wow fadeInUp">
                            <label for="name" class="fw-medium fg-grey">Имя</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>

                        <div class="form-group wow fadeInUp">
                            <label for="email" class="fw-medium fg-grey">Номер телефона</label>
                            <input type="text" name="phone" class="form-control" id="email">
                        </div>
                        <div class="form-group wow fadeInUp">
                            <label for="email" class="fw-medium fg-grey">Телеграм username*</label>
                            <input type="text" name="telegram" value="необязательно*" class="form-control" id="email">
                        </div>

                        <div class="form-group mt-4 wow fadeInUp">
                            <button type="submit" class="btn btn-primary">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Clients -->
{% endblock %}