{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="page-hero-section bg-image hero-home-2"
         style="background-image: url({% static 'assets/img/bg_hero_2.svg' %});">
        <div class="hero-caption">
            <div class="container fg-white h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6 wow fadeInUp">
                        <div class="badge badge-soft mb-2">Эффективная подготовка к IELTS</div>
                        <h1 class="mb-4 fw-normal">Подготовьтесь к IELTS быстро и эффективно</h1>
                        <p class="mb-4">Получите всю необходимую информацию об IELTS и самые <br>эффективные советы по
                            подготовке от бывшего экзаменатора IELTS.
                        </p>

                        <a href="#moreielts" class="btn btn-dark">Подробнее</a>

                    </div>
                    <div class="col-lg-6 d-none d-lg-block wow zoomIn">
                        <div class="img-place mobile-preview shadow floating-animate">
                            <img src="{% static 'assets/img/photo_2022-10-15_21-21-23.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-section no-scroll" id="moreielts">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 wow fadeIn">
                    <div class="img-place">
                        <img src="{% static 'assets/img/photo_5355225624681235045_y.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-5 wow fadeInUp">
                    <h2 class="mb-4">Что такое IELTS?</h2>
                    <p class="mb-4">IELTS — международная система тестирования английского языка — самый популярный в
                        мире тест
                        по английскому языку. Он разработан ведущими мировыми экспертами в области языковой оценки и
                        оценивает все
                        ваши навыки владения английским языком — чтение, письмо, аудирование и разговорную речь. Тест
                        показывает, как вы будете использовать английский язык для учебы, работы и жизни в англоязычной
                        среде.</p>
                    <a href="#what-learn" class="btn btn-outline-primary rounded-pill">Что вы получите от нас</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center text-center wow fadeInUp">
            <div class="col-lg-6">
                <h2 class="mb-3">Вы получите от нас</h2>

            </div>
        </div>
    </div>


    <div class="page-section" id="what-learn">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="iconic-list">
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Информацию</h5>
                                <p class="fs-small">Получите всю необходимую информацию о тесте IELTS</p>
                            </div>
                            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                                <span class="mai-analytics"></span>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Speaking</h5>
                                <p class="fs-small">Подготовьтесь к тесту IELTS Speaking дома, воспользовавшись
                                    некоторыми полезными советами по подготовке</p>
                            </div>
                            <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
                                <span class="mai-shield-checkmark"></span>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-content">
                                <h5>Практика</h5>
                                <p class="fs-small">Практикуйте чтение IELTS и аудирование IELTS с помощью образцов
                                    тестов</p>
                            </div>
                            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                                <span class="mai-desktop-outline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3 wow zoomIn">
                    <div class="img-place mobile-preview shadow">
                        <img src="{% static 'assets/img/photo_2022-10-15_21-21-58.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="iconic-list">
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
                                <span class="mai-speedometer-outline"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Письменный экзамен</h5>
                                <p class="fs-small">Откройте для себя самые важные советы по письменному экзамену
                                    IELTS</p>
                            </div>
                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-success fg-white rounded-circle">
                                <span class="mai-aperture"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Ответы</h5>
                                <p class="fs-small">Понимание различных типов вопросов</p>
                            </div>

                        </div>
                        <div class="iconic-item wow fadeInUp">
                            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
                                <span class="mai-stats-chart-outline"></span>
                            </div>
                            <div class="iconic-content">
                                <h5>Бесплатные пробные тесты</h5>
                                <p class="fs-small">Бесплатные пробные тесты по всем экзаменам, которые регулярно
                                    проводятся в наших учебных центрах для наших студентов</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Pricing Table -->
    <div class="page-section">
        <div class="container">
            <div class="row justify-content-center text-center wow fadeInUp">
                <div class="col-lg-6">
                    <h2 class="mb-3">Получите потрясающие функции без дополнительной оплаты</h2>
                </div>
            </div>
            <div class="pricing-table mt-5 wow fadeInUp">
                <div class="pricing-item active no-transform">
                    <div class="pricing-header">
                        <h5>Стоимость IELTS</h5>
                        <h1 class="fw-normal">9500 сом</h1>
                    </div>
                    <div class="pricing-body">
                        <ul class="theme-list">
                            <li class="list-item">5 часов видео по запросу</li>
                            <li class="list-item">Полный пожизненный доступ</li>
                            <li class="list-item">Доступ на мобильном телефоне и ТВ</li>
                            <li class="list-item">24/7 поддержка</li>
                        </ul>
                    </div>
                    <a href="#sendapplication" class="btn btn-dark" style="color: white">Подать заявку</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="page-section bg-light">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 py-3 wow fadeInUp">
                    <h2 class="mb-4">Часто
                        заданные вопросы</h2>
                    <p>Отвечаем на ваши вопросы</p>

                    <p class="fg-primary fw-medium">Нужна дополнительная помощь?</p>
                    <a href="{% url 'contact' %}" class="btn btn-gradient btn-split-icon rounded-pill">
                        <span class="icon mai-call-outline"></span> Контакт
                    </a>
                </div>
                <div class="col-lg-7 py-3 no-scroll-x">
                    <div class="accordion accordion-gap" id="accordionFAQ">
                        {% for question in questions %}
                            <div class="accordion-item wow fadeInRight">
                                <div class="accordion-trigger" id="headingFour">
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapse{{ question.pk }}" aria-expanded="false"
                                            aria-controls="collapse1">
                                        {{ question.title }}
                                    </button>
                                </div>
                                <div id="collapse{{ question.pk }}" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionFAQ">
                                    <div class="accordion-content">
                                        <p>{{ question.answer }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section" id="sendapplication">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 py-3 mb-5 mb-lg-0">
                    <div class="img-place w-lg-75 wow zoomIn">
                        <img src="{% static 'assets/img/illustration_contact.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 py-3">
                    <h4 class="wow fadeInUp" style="color:#3D58F3">Подать заявку</h4>
                    <form method="POST" class="mt-5" action="{% url 'ielts' %}">
                        {% csrf_token %}
                        <div class="form-group wow fadeInUp">
                            <label for="name" class="fw-medium fg-grey">Имя</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>

                        <div class="form-group wow fadeInUp">
                            <label for="email" class="fw-medium fg-grey">Номер телефона</label>
                            <input type="text" name="phone" class="form-control" id="email">
                        </div>
                        <div class="form-group wow fadeInUp">
                            <label for="email" class="fw-medium fg-grey">Телеграм username*</label>
                            <input type="text" name="telegram" value="необязательно*" class="form-control" id="email">
                        </div>

                        <div class="form-group mt-4 wow fadeInUp">
                            <button type="submit" class="btn btn-primary">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Clients -->
{% endblock %}